<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard"
        >All Instruments - Calibration Management Software</a
      >
    </div>
  </div>
</nav>

<div class="main-body">
  <div class="container">
    <!-- <p class="avatar avatar-name">Manager</p> -->
    <img
      src="../../assets/img/img_avatar.png"
      alt="Avatar"
      class="avatar"
      style="margin-right: 0px"
    />
  </div>

  <div class="container">
    <table>
      <tr>
        <th
          style="
            font-size: xx-large;
            background-color: #c0c0c0;
            text-align: left;
          "
        >
          All Instruments
          <a routerLink="/add-edit-instrument" *ngIf="userRole !== 'calibrator'"
            ><span style="padding-left: 600px; font-size: 18px"
              >+ Add new Instrument</span
            ></a
          >
        </th>
      </tr>
    </table>
    &nbsp;
  </div>
  &nbsp;

  <div class="container">
    <table>
      <tr style="font-size: large">
        <th>Instrument Sr.No</th>
        <th>Make</th>
        <th>Model</th>
        <th>Calibration Due Date</th>
        <th>Assigned To</th>
        <th>Second Person</th>
      </tr>
      <tr *ngFor="let allInstrument of allInstruments">
        <td>
          <a
            routerLink="/instrument-details"
            *ngIf="userRole !== 'calibrator'"
            (click)="edit(allInstrument._id || '')"
            ><span class="glyphicon glyphicon-edit"></span
          ></a>
          {{ allInstrument.serialNo || "-" }}
        </td>
        <td>
          {{ allInstrument.make || "-" }}
        </td>
        <td>
          {{ allInstrument.model || "-" }}
        </td>
        <td>
          {{ allInstrument.calibrationDueDate | date : "dd-MMMM-y" || "-" }}
        </td>
        <td>
          {{ allInstrument.assignedTo || "-" }}
        </td>
        <td>
          {{ allInstrument.secondPerson || "-" }}
        </td>
      </tr>
    </table>
  </div>
</div>
