<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/instrument-details"
        >Calibrate Instrument</a
      >
    </div>
  </div>
</nav>

<div class="main-body">
  <div class="container">
    <!-- <p class="avatar avatar-name">Manager</p> -->
    <img
      src="../../assets/img/img_avatar.png"
      alt="Avatar"
      class="avatar"
      style="margin-right: 0px"
    />
  </div>

  <div class="container">
    <table>
      <tr>
        <th
          style="
            font-size: x-large;
            background-color: #c0c0c0;
            text-align: left;
          "
        >
          Instruments Detail
          <a href="/add-edit-instrument"
            ><span style="padding-left: 700px; font-size: 18px"
              >+ Add new Instrument</span
            ></a
          >
        </th>
      </tr>
    </table>
    &nbsp;

    <div class="calstudio">
      <a routerLink="/add-edit-instrument" class="a-calstudio"
        >View Latest Instruction</a
      >
      <a routerLink="/all-instrument" class="a-calstudio"
        >View Certification Template</a
      >
      <a routerLink="/manage-instrument-group" class="a-calstudio"
        >Download Certification Template</a
      >
    </div>
  </div>
  &nbsp;

  <div class="container">
    <table>
      <tr style="font-weight: 500">
        Comments
      </tr>
    </table>

    <table class="comments">
      <tr>
        <p>Add comments. For eg. Consignment number for external Calibration</p>
      </tr>
    </table>
  </div>
</div>
