<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard"
        >Manage Calibration Team</a
      >
    </div>
  </div>
</nav>

<div class="main-body">
  <div class="container">
    <p class="avatar avatar-name">{{ userRole | titlecase }}</p>
    <img
      src="../../assets/img/img_avatar.png"
      alt="Avatar"
      class="avatar"
      style="margin-right: 0px"
    />
  </div>

  <div class="container" style="padding-left: 900px; font-size: 20px">
    <a>+ Add new group</a>
  </div>
  &nbsp;

  <div class="container">
    <table>
      <tr style="font-size: large">
        <th>Team Sr</th>
        <th>Team Name</th>
        <th>User</th>
        <th>Turn around time</th>
      </tr>
      <tr *ngFor="let allTeam of allTeams; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ allTeam.teamName || "-" }}</td>
        <td>
          {{ allTeam.user || "-"
          }}<a><span class="glyphicon glyphicon-edit"></span></a>
        </td>
        <td>
          {{ allTeam.teamAroundTime || "-" }} hours<a
            ><span class="glyphicon glyphicon-edit"></span
          ></a>
        </td>
      </tr>
    </table>
  </div>
</div>
